@model IEnumerable<ReservaCine.Models.Pelicula>

    @{ 
    ViewData["Title"] = "Peliculas";
    }

    <h1>Peliculas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-action="Details" asp-route-id=@ViewData["FuncionId"]>Volver a Funciones</a>
    </div>
